@import "_tree.scss";

.main__img--tree-leaves {
    @extend %tree;
    z-index: 10;
}

.main__img--tree-fall-leaves {
    @extend %tree;
    z-index: 9;
}

.main__img--tree-apples {
    z-index: 10;
    @extend %tree;
}