%verse-styles {
    @extend %font__haettenschweiler;
    margin: 0 0 120px;
    max-width: 42vw;
}

%verse-position {
    grid-column-start: 2;
}

.main__verse {
    @extend %verse-styles; // This is only extended once, maybe we should just directly put it in here?
    @extend %verse-position;
}

.main__verse p {
    @extend %null-margin;
}

#main__verse2, #main__verse3, #main__verse4, #main__verse5 {
    display: none;
}