// TEXT FADE-IN ANIMATION NO.1 START (FRAME NO.1 IN STORYBOARD)

#tree-container {
    opacity: 0;
}
.second-half-verse1, .first-half-verse1 {
    opacity: 0;
}
.cloud-container {
    opacity: 0;
}

@keyframes fade-in-effect {
    0% {opacity: 0.0;}
    20% {opacity: 0.25;}
    40% {opacity: 0.45;}
    60% {opacity: 0.65;}
    80% {opacity: 0.85;}
    100% {opacity: 1.0;}
}

.main-view.frame-nb1{
    .first-half-verse1 {
        animation-name: fade-in-effect;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

// TEXT FADE-IN ANIMATION NO.1 END

// FADE-IN ANIMATION NO.2 START (FRAME NO.2 IN STORYBOARD)

.main-view.frame-nb2{
    .second-half-verse1 {
        animation-name: fade-in-effect;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    #tree-container {
        animation-name: fade-in-effect;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

// FADE-IN ANIMATION NO.2 END

// LEAVES CHANGE COLOUR ANIMATION START (FRAME NO.3 IN STORYBOARD)

@keyframes fade-out-effect {
    0% {opacity: 1.0;}
    20% {opacity: 0.85;}
    40% {opacity: 0.65;}
    60% {opacity: 0.45;}
    80% {opacity: 0.25;}
    100% {opacity: 0.0;}
}

.main-view.frame-nb3{
    .leaves {
        animation-name: fade-out-effect;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

// LEAVES CHANGE COLOUR ANIMATION END

// GROUND CHANGE COLOUR ANIMATION START (FRAME NO.5 IN STORYBOARD)

@keyframes color-change {
    from {background-color: #70AE4B;}
    to {background-color: #93E3F6;}
}

.main-view.frame-nb5{
    .ground {
        animation-name: color-change;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

// GROUND CHANGE COLOUR ANIMATION END

// CLOUD ANIMATION START (FRAME NO.5 IN STORYBOARD) NB! COMMENT OUT .cloud-container {opacity:0} TO SEE THIS BADBOY IN ACTION :-)

@keyframes fade-in-translate-fade-out {
    0% {opacity: 0.0; transform: translateX(0);}
    10% {opacity: 0.50; transform: translateX(10%);}
    20% {opacity: 1.0; transform: translateX(20%);}
    30% {transform: translateX(30%);}
    40% {transform: translateX(40%);} 
    50% {transform: translateX(50%);} 
    60% {transform: translateX(60%);} 
    70% {transform: translateX(70%);} 
    80% {transform: translateX(80%); opacity: 1.0;}
    90% {transform: translateX(90%); opacity: 0.50;}
    100% {transform: translateX(100%); opacity: 0.0;}
}

.main-view.frame-nb5{
    #cloud1, #cloud2, #cloud3, #cloud4, #cloud5 {
        animation-name: fade-in-translate-fade-out;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

// CLOUD ANIMATION END