%verse-styles {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 6px black;
}

%verse-position {
    grid-column-start: 2;
    grid-row-start: 2;
}

.verse {
    @extend %verse-styles;
    @extend %verse-position;
}
.verse2 {
    display: none;
}

.verse p {
    margin: 0;
    padding: 0;
}

.tree {
    grid-column-start: 4;
}
