%null-margin {
    margin: 0;
    padding: 0;
}

$grass: #70AE4B;
$sky: #00FFFF;

$ground-height: 15vh;
$main-view-height: 100vh - $ground-height;

* {
    box-sizing: border-box;
}

body {
    @extend %null-margin;
}

.main-view {
    width: 100vw;
    height: $main-view-height;
    background-color: $sky;
    display: grid;
    grid-template-columns: 140px 310px 300px 200px 130px;
    grid-template-rows: 130px 300px auto;
}

.ground {
    width: 100vw;
    height: $ground-height;
    background-color: $grass;
}
