@import "_keyframes.scss";

.man {
    opacity: 0;
}

body.body__frame7 {

.tree, .leaves, .fall-leaves, .apples {
    animation-name: fade-out-effect;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#verse3 {
    display: none;
}

#verse4 {
    display: block;
}

.man, .first-half-verse4 {
    animation-name: fade-in-effect;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
}