@import "_keyframes.scss";

// TEXT FADE-IN ANIMATION NO.1 START (FRAME NO.1 IN STORYBOARD)

#tree-container {
    opacity: 0;
}

// ^= selects anything that begins with the supplied string
p[class^="first-half-"], p[class^="second-half-"] {
    opacity: 0;
}

.cloud-container {
    opacity: 0;
}

body.body__frame1 {
    .first-half-verse1 {
        animation-name: fade-in-effect;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

// TEXT FADE-IN ANIMATION NO.1 END