body.body__frame9 {
    #main__verse4 {
        display: none;
    }
    
    #main__verse5 {
        /*
            I've done EXTENSIVE testing,
            and found that the only viable SMOOTH
            and ACCURATE way to slide verse to center
            is to use flex, center the verses and gradually
            increase the height of the flexed div.

            This also allows it to ALWAYS hit the center,
            no matter the screen size.
        */
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main__img--mankind {
        animation-name: swing-out-bottom-bck;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
        animation-fill-mode: forwards;
    }

    .main__verse--first-half-verse5 {
        animation-name: fade-in-effect;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    .main {
        height: 100vh;
        animation-name: main-change-frame9;
        animation-duration: 7s;
        animation-direction: alternate;
    }

    .main__verse {
        animation-name: slide-verse-center-frame9;
        animation-duration: 5s;
        animation-fill-mode: forwards; // Keep size afterwards
    }
}