@import "_keyframes.scss";

.main__img--man {
    opacity: 0;
}

body.body__frame7 {
    .main__img--tree-branch, .main__img--tree-leaves, .main__img--tree-fall-leaves, .main__img--tree-apples {
        animation-name: fade-out-effect;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    #main__verse3 {
        display: none;
    }

    #main__verse4 {
        display: block;
    }

    .main__img--man, .main__verse--first-half-verse4 {
        animation-name: fade-in-effect;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}