// LEAVES CHANGE COLOUR ANIMATION START (FRAME NO.3 IN STORYBOARD)

body.body__frame3 {
    .main__img--tree-leaves {
        animation-name: fade-out-effect;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    #main__verse1 {
        display: none;
    }

    #main__verse2 {
        display: block;
    }

    .main__verse--first-half-verse2, .main__img--tree-fall-leaves {
        animation-name: fade-in-effect;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

// LEAVES CHANGE COLOUR ANIMATION END