$colors__grass: #70AE4B;
$colors__sky: #00FFFF;
$colors__silver: #93E3F6;
$colors__verse-text: white;

$colors__change1: #F98621;
$colors__change2: #90ACFF;
$colors__change3: #FF90F0;
$colors__change4: #66FC5E;
$colors__change5: #6B5EFC;