* {
    /* 
        Prevent accidentally selecting text and images on mobile.
        Also prevents right clicking (2-finger tapping) on touchpads and so on.
    */

    // iPhone
    user-select: none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;

    // Rest
    pointer-events: none;
}

$mobile__tablet-width: 1050px;
$mobile__phone-width: 750px;